
/* Fonts */
@font-face {
	font-family: 'apercu';
	src: url('fonts/apercu-light.WOFF') format('woff');
	font-weight: 300;
}

@font-face {
	font-family: 'apercu';
	src: url('fonts/apercu-medium.WOFF') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'circularstd';
	src: url('fonts/CircularStd-Black.WOFF') format('woff');
	font-weight: 900;
}

@font-face {
	font-family: 'circularstd';
	src: url('fonts/CircularStd-Book.WOFF') format('woff');
	font-weight: 300;
}

@font-face {
	font-family: 'din';
	src: url('fonts/DINPro-Black.WOFF') format('woff');
	font-weight: 900;
}

@font-face {
	font-family: 'din';
	src: url('fonts/DINPro-BlackItalic.WOFF') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'din';
	src: url('fonts/DINPro-Bold.WOFF') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'din';
	src: url('fonts/DINPro-Light.WOFF') format('woff');
	font-weight: 200;
}

@font-face {
	font-family: 'din';
	src: url('fonts/DINPro-LightItalic.WOFF') format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'minionpro';
	src: url('fonts/MinionPro-Regular.WOFF') format('woff');
	font-weight: 400;
}